
#
# DB_HOST=mysql-1e26ae34-tuitentu131-e142.g.aivencloud.com
# DB_PORT=18003
# DB_NAME=cooking_app
# DB_USERNAME=avnadmin
# DB_PASSWORD=AVNS_ls1hffFa1LIZu7eVCY8
# DEBUG_MODE=true


# DB_HOST="${SECURE_DB_HOST}"
# DB_PORT="${SECURE_DB_PORT}"
# DB_NAME="${SECURE_DB_NAME}"
# DB_USERNAME="${SECURE_DB_USER}"
# DB_PASSWORD="${SECURE_DB_PASS}"
# DEBUG_MODE="false"
